


.hotel-single-card{
    border: 5px solid teal;
    border-radius: 5px;
    padding: 0 15px;
}
.hotel-img-div{
    width: 100%;
    margin: 15px auto;
    overflow: hidden;
    height: 200px;
    border-radius: 5px;
}
.hotel-img-div img{
    width: 100%;
    border-radius: 5px;
}

.desc-div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 15px 0 10px;
}
.desc-div p{
    font-weight: 600;
    font-size: 17px;
}

.darkRed-text{
    color: crimson;
}