

.header-parent{
    background: linear-gradient(225deg, #2a2a2a,#007ACC, #2a2a2a);
}
.header-div{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-icon-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}
.header-icon-left h1{
    font-weight: 800;
}
.header-icon span{
    font-size: 35px;
}

.menu-icon-one, .menu-icon-two{
    display: none;
    color: white;
    cursor: pointer;
    font-size: 35px;
}


.header-div a{
    text-decoration: none;
    margin: 0 15px;
    color: white;
    font-size: 22px;
    font-weight: 600;
}
.header-div a.active {
    color: orange;
    border-bottom: 2px solid orange;
  }


.header-div a:hover{
    color: gold;
}











/* Media Query : */
/* For mobile:  */

/* For tablet:  */
@media only screen and (max-width:1025px) {
    /* .cities-parent , .about-div, .contact-div, .error-div{
        margin-top: 100px;
    } */
    .main-div{
        margin-top: 100px;
    }
    .header-parent{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 500;
    }
    
    .header-menu-parent{
        position: fixed;
        background: rgba(0, 0, 0, 0.525);
        left: -500%;
        top: 70px;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    .header-menu-parent.active{
        left: 0;
    }
    .header-menu{
        position: fixed;
        background: #2C2C2C;
        left: -50%;
        top: 70px;
        width: 50%;
        height: 100vh;
        display: flex;
        justify-content: center;
        transition: all 0.3s;
    }
    .header-menu.active{
        left: 0;
        /* height: 100vh; */
    }
    .header-menu nav{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        gap: 30px;
        background: #2C2C2C;
    }
    .header-icon{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 15px;
    }
    .header-icon span{
        cursor: pointer;
    }
    .menu-icon-one{
        display: block;
        color: white;
    }
    .header-icon-right.enable .menu-icon-two{
        display: block;
    }
    .header-icon-right.enable .menu-icon-one{
        display: none;
    }
}
