

.header-parent{
    background: linear-gradient(225deg, darkblue,#007ACC);
}
.header-div{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-icon-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}
.header-icon span{
    font-size: 35px;
}

.menu-icon-one{
    display: none;
}

.header-div a{
    text-decoration: none;
    margin: 0 15px;
    color: white;
    font-size: 22px;
    font-weight: 600;
}
.header-div a.active {
    color: orange;
    border-bottom: 2px solid orange;
  }


.header-div a:hover{
    color: gold;
}











/* Media Query : */
/* For mobile:  */
@media only screen and (max-width:767px){
    
}

/* For tablet:  */
@media only screen and (max-width:1025px) {
    .header-menu{
        display: none;
    }
    .header-icon{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 15px;
    }
    .header-icon span{
        cursor: pointer;
    }
    .menu-icon-one{
        display: block;
        color: white;
    }
}
