


.city{
    border: 5px solid teal;
    width: 350px;
    height: 350px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s ;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}
.city:hover{
    background: #183153;
    color: white;
    box-shadow: none;
}
.cities img{
    width: 100%;    
}
.city-img{
    /* padding-top: 15px; */
}
.city img{
    border: 5px solid crimson;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.city h2{
    margin-top: 15px;
}