


.single-hotel-div h2{
    font-size: 35px;
    font-weight: 800;
}
.singleHotel-desc p{
    font-weight: 700;
    font-size: 18px;
    display: flex;    
    align-items: center;
}
.singleHotel-desc .iconBox{
    border: 2px solid #183153 ;
    display: block;
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 2px;
    color: #183153;
}

/* table css */
.table-div table{
    width: 100%;    
    border: 2px solid #183153;
    border-radius: 5px;
}
.table-div table tr th, .table-div table tr td {
    /* border-top: 2px solid #183153;
    border-bottom: 2px solid #183153; */
    padding: 15px;
    border-radius: 5px;
}